<!DOCTYPE html>

<html lang="nl">
<title>AdamNet</title>
<link rel="stylesheet" type="text/css" href="/<%=css%>"/>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
