/* animation */
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

/* General */

@font-face {
  font-family: 'Limelight';
  font-style: normal;
  font-weight: 400;
  src: local('Limelight'), url(https://fonts.gstatic.com/s/limelight/v9/XLYkIZL7aopJVbZJHDuoOulHjHUmTQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v6/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: local('Poppins Black'), local('Poppins-Black'), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLBT5Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

:root {
  --star-white: #EDEDE5;
  --pearl-bush: #E6DED3;
  --barley-brown: #DA694B;
  --headings: 'Limelight', cursive;
  --paragraph: 'Poppins', sans-serif;
}

.show {
  top: 0 !important;
  -webkit-animation: bounceInDown 0.65s;
  animation: bounceInDown 0.65s;
  transition: all 0.2s;
}

#offline {
  background-color: var(--barley-brown);
  width: 100%;
  height: 5em;
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  z-index: 10;
}

#offline p {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

#offline h2 {
  font-family: var(--paragraph);
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

html {
  font-family: Georgia, serif;
}

html p, a {
  font-family: Georgia, serif;
}

html.fonts-loaded h1 {
  font-family: var(--headings), Georgia;
}

html.fonts-loaded p, a  {
  font-family: var(--paragraph);
}

header {
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
}

form input[type="text"]{
  padding-left: 3em;
  outline: none;
  font-size: 1em;
  font-weight: 200;
  width: 55%;
  height: 3em;
  border: none;
  background-color: #ccc;
  border-radius: 2em;
  transition: all 0.2s;
}

form input[type="submit"] {
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  border-radius: 2em;
  background-color: var(--barley-brown);
  border: none;
  height: 3em;
  width: 10em;
  transition: all 0.2s;
}

#search-bar {
  padding: 0.5em;
  transition: all 0.2s;
}

.sticky {
  height: 5em;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--star-white);
  -webkit-animation: bounceInDown 0.65s;
  animation: bounceInDown 0.65s;
  transition: all 0.2s;
}

form input[type="submit"]:focus {
  transition: all 0.2s;
  transform: scale(1.05, 1.05);
}

form input[type="submit"]:hover {
  transition: all 0.2s;
  transform: scale(1.05, 1.05);
}

form input[type="text"]:focus {
  background-color: var(--pearl-bush);
  transition: all 0.2s;
  transform: scale(1.05, 1.05);
}

.search-parm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-parm p {
  color: #ccc;
  font-size: 0.8em;
  margin-right: 3em;
}

.search-parm em {
  color: var(--barley-brown);
}

#images  {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10em;
}

#images a {
  text-decoration: none;
}

.small-img h3 {
  text-align: center;
  color: #fff;
}

.small-img {
  background-color: var(--barley-brown);
  width: 20em;
  height: 20em;
  margin: 0.5em;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s;
  box-shadow: 6px 6px 0px -4px rgba(0,0,0,0.05);
}

.small-img:hover {
  background-size: 160%;
  transition: all 0.2s;
  transform: scale(1.05, 1.05);
}

footer {
  display: flex;
  flex-direction: row;
  background-color: var(--star-white);
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  text-align: center;
}

footer p {
  margin: auto;
  font-size: 0.8em;
}

footer div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

footer a {
  font-size: 0.8em;
  margin: 0.3em;
  text-decoration: none;
  background-color: var(--barley-brown);
  padding: 0.5em 2em;
  color: #fff;
  font-weight: 700;
  border-radius: 1em;
  transition: all 0.2s;
}

footer a:hover {
  transition: all 0.2s;
  transform: scale(1.3, 1.3);
}

/* detail-page */

.detail-header {
  width: 70%;
  text-align: center;
  margin: 1em auto;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.info p {
  width: 70%;
}

.text {
  width: 40%;
}

@media (max-width: 55em){
  form {
    width: 80%;
  }

  .search-parm {
    flex-direction: column;
    text-align: center;
  }

  .detail-header {
    width: 90%;
    text-align: left;
    font-size: 1.5em;
  }

  .info {
    flex-direction: column;
    width: 90%;
  }

  .info p {
    line-height: 1.6em;
    width: auto;
  }

  .text {
    width: 70%;
    margin: auto;
  }

  .info img {
    margin-top: 2em;
  }

  .buttons{
    text-align: center;
    margin: 1em;
  }

}

@media (max-width: 45em){
  .sticky {
    height: auto;
  }

  form {
    width: 100%;
    flex-direction: column;
  }

  form input[type=text] {
    width: 80%;
    margin: auto;
  }

  form input[type=submit] {
    width: 50%;
    margin: 1em auto;
  }

  .search-parm {
    flex-direction: column;
    text-align: center;
  }

  footer {
    overflow-y: auto;
  }

  footer div {
    flex-wrap: nowrap;
  }
}

@media (max-width: 30em){
  .detail-header {
    font-size: 1.2em;
  }

  .text {
    width: 100%;
  }
}
